<p>add-gestionar works!</p>
<form [formGroup]="form" (ngSubmit)="agregarSolicitud()" class="formulario-solicitud">
  <mat-form-field><input matInput placeholder="Título" formControlName="titulo"></mat-form-field>
  <mat-form-field><input matInput placeholder="Fecha" formControlName="fecha" type="date"></mat-form-field>
  <mat-form-field><input matInput placeholder="Mecánico" formControlName="mecanico"></mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Prioridad" formControlName="prioridad">
      <mat-option value="Alta">Alta</mat-option>
      <mat-option value="Media">Media</mat-option>
      <mat-option value="Baja">Baja</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Estado" formControlName="estado">
      <mat-option value="Pendiente">Pendiente</mat-option>
      <mat-option value="Aprobada">Aprobada</mat-option>
      <mat-option value="No Aprobada">No Aprobada</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Añadir</button>
</form>

<!-- En la columna Acciones -->
<td mat-cell *matCellDef="let el">
  <button mat-button (click)="editarSolicitud(el)">Editar</button>
  <button mat-button color="warn" (click)="eliminarSolicitud(el.id)">Eliminar</button>
</td>

