/* You can add global styles to this file, and also import other style files */
@import "./app/themes/themes.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.dialog-scrollable .mat-dialog-container {
  max-height: 90vh;
  overflow-y: auto;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 12px;
}

@media (max-width: 600px) {
  .mat-dialog-container {
    width: 95vw !important;
    max-width: 95vw !important;
    margin: 0 auto;
  }
}